<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="input">
        <h1>Dojo Survey</h1>
        <form action="/submit" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <label for="location">Dojo Location</label>
            <select name="location" id="location" onchange="test(a)">
                <option value="No Location Selected">-- Select a Location --</option>
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Burbank">Burbank</option>
                <option value="Online">Online</option>
                <option value="Bellevue">Bellevue</option>
            </select>
            <label for="language" id="language">Favorite Language:</label>
            <select name="language" id="language">
                <option value="No Language Selected">-- Select a Language --</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Python">Python</option>
                <option value="JavaScript">Javascript</option>
                <option value="C#">C#</option>
            </select>
            <label for="comments">Comments:</label>
            <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>